.container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.personal-details,
.company-details {
  flex-basis: 48%;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.personal-details h2,
.company-details h2 {
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
}

.personal-details p,
.company-details p {
  margin-bottom: 5px;
}